body {
  margin: 0;
}

// Navbar Component
// ====================================

.navbarSpacer {
  height: 60px;
  width: 100%;
}

.navbar {
  background-color: red;
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  display: inline-block;
}

.collapseButton {
  float: right;
  display: none;
}

.navbarButtons {
  float: right;
  height: 100%;
  display: grid;
  width: 40%;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  grid-auto-flow: row;
}

.navbarButton {
  display: inline-block;
  background-color: blue;
  margin: 5px;
  padding: 5px;
  font-size: 12px;
  color: white;
  a:visited {
    color: white;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  //Navbar
  .collapseButton {
    display: inline-block;
  }

  .navbarButtons {
    display: none;
  }

  .navbarButtonsDropdown {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: pink;
  }

  .navbarButton {
    text-align: center;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
}
